{%- assign replies = site.data.comments[page.slug] | where: 'type', 'comment' | where_exp: 'item', "item.replying_to == include.id" -%}
{%- if replies.size > 1 -%}{%- assign replies = replies | sort: 'date' -%}{%- endif -%}
<article
  {% if include.id %}id="{{include.id}}"{% endif %}
  class="comment js-comment{% if include.name == page.author %} is-op{% endif %}{% if include.replying_to %} is-reply{% endif %}{% if replies.size > 0 %} has-replies{% endif %}"
>
  <div class="comment__toplevel">
    <header class="comment__header">
      <span class="comment__author" rel="author">{{include.name}}</span>
      {% if include.id %}<a href="#{{include.id}}" class="hidden-link">{% endif %}
      <time datetime="{{include.date | date: '%Y-%m-%d'}}" class="comment__date">
        {{ include.date | date: '%b %d' }}
        {%- assign commentYear = include.date | date: '%Y' -%}
        {%- assign currentYear = 'now' | date: '%Y' -%}
        {%- if commentYear != currentYear -%}
          , {{ commentYear }}
        {%- endif -%}
      </time>
      {% if include.id %}</a>{% endif %}
    </header>
    <div class="comment__message">
      {% include autolink.html content=include.body %}
    </div>
  </div>
  {% if replies.size > 0 %}
    <section class="comment__replies">
      {% for reply in replies %}
        {% assign data = reply %}
        {% if reply[1] %}{% assign data = reply[1] %}{% endif %}
        {% include comment.html id=data._id replying_to=data.replying_to body=data.body name=data.name date=data.date %}
      {% endfor %}
    </section>
  {% endif %}
</article>