{%- capture p -%}{% if include.reply %}reply-{% else %}comment-{% endif %}{%- endcapture -%}
<form
  {% if include.reply %}hidden{% endif %}
  id="{{p}}form"
  class="new-comment js-new-comment{% if include.reply %} is-reply{% endif %}"
  method="post"
  action="https://api.staticman.net/v2/entry/{{site.repository}}/{{site.staticman.branch}}/comments"
>
  <input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}" />
  <input type="hidden" name="options[parent]" value="{{ page.url | absolute_url }}" />
  <input type="hidden" name="options[slug]" value="{{ page.slug }}" />
  <input type="hidden" name="options[reCaptcha][siteKey]" value="{{site.secrets.reCaptcha.siteKey}}">
  <input type="hidden" name="options[reCaptcha][secret]" value="{{site.secrets.reCaptcha.secret}}">
  {% if include.reply %}
    <input type="hidden" name="fields[replying_to]" value="" />
  {% endif %}
  
  <label hidden for="{{p}}message">Comment</label>
  <textarea id="{{p}}message"
    required
    class="new-comment__message js-autogrow"
    name="fields[body]"
    rows=1
    placeholder="{% if include.reply %}Write a reply...{% else %}Leave a comment...{% endif %}"
  ></textarea>
  <div class="new-comment__extra-wrapper">
    <div class="new-comment__extra">
      <label hidden for="{{p}}name">Name</label>
      <input type="text"
        id="{{p}}name"
        required
        class="new-comment__name"
        name="fields[name]"
        placeholder="Name"
      />
      <button disabled type="submit">Leave comment</button>
      <div
        hidden
        class="new-comment__captcha g-recaptcha"
        data-badge="bottomright"
        data-sitekey="{{site.secrets.reCaptcha.siteKey}}"
        data-size="invisible"
      ></div>
    </div>
  </div>
</form>
