// Forms
// ===== 

fieldset {
  border: none;
  min-width: 0;
}

input[type="hidden"] {
  @include hidden;
}

input:not([type="radio"]):not([type="checkbox"]), textarea {
  background: none;
  border: none;
  // border-bottom: 2px solid $off-white;
  box-shadow: none;
  color: currentColor;
  font: inherit;
  outline: none;
}

::placeholder {
  color: $light-gray;
}

input[type="checkbox"] {
  height: 1px;
  width: 1px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;

  + label {
    cursor: pointer;
    padding-left: 1.5em;
    position: relative;
    @include user-select(none);
  }

  + label::before {
    border: 1px solid $light-gray;
    content: '';
    height: 1em;
    left: 0;
    position: absolute;
    top: 0.25em;
    width: 1em;
  }

  &:checked ~ label::before {
    background-color: $green;
    background-image: url('data:image/svg+xml,%3Csvg%20width%3D%2218%22%20height%3D%2214%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22%23FFF%22%20fill-rule%3D%22evenodd%22%3E%3Cpath%20d%3D%22M2.121%205.192l6.364%206.364-2.121%202.122L0%207.314z%22%2F%3E%3Cpath%20d%3D%22M15.556.243l2.122%202.121L7.07%2012.971%204.95%2010.849z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    background-size: 0.6em auto;
    background-position: center;
    border: none;
  }
}

textarea {
  resize: none;
}

.button-field {
  @media (min-width: $full) {
    align-items: center;
    display: flex;

    @include compact;

    > input {
      flex: 1;
    }
  }
}

.captcha {
  @include removed;
}
